{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>
            Your controller at
            <code>
                <a href="{{ '/app/src/Controller/Panel/Globals/LoginController.php'|file_link(0) }}">
                    src/Controller/Panel/Globals/LoginController.php
                </a>
            </code>
        </li>

        <button class="btn btn-group btn-info">Clique aqui</button>
        <li>
            Your template at
            <code>
                <a href="{{ '/app/templates/panel/globals/login/index.html.twig'|file_link(0) }}">
                    templates/panel/globals/login/index.html.twig
                </a>
            </code>
        </li>
        <li> Meu nome é : {{ name }} {{ sobrenome }}   </a></code></li>
    </ul>
</div>
{% endblock %}
